body{
    display: flex;
    align-content: center;
    justify-content: center;
    /* background-image: url(TravelDestination.jfif);
    background-size: cover; */
}

.container {
    background-color: #000000;
    opacity: 0.7;
    height: 580px;
    width: 650px;
    border-radius: 15px;
    padding: 8px 40px; /* review padding at the end */
}

h3{
    color: white;
    border-bottom: 2px solid rgb(30, 146, 146);
    font-size: 35px;
}

#input-box {
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: rgb(248, 245, 241);
    font-size: 16px;
}

.age {
    margin: 8px 40px;
}

#selector {
    color: rgb(248, 245, 241);
    margin: 8px 140px;
}

#input-box1 {
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff;
    font-size: 16px;
}

.btn {
    margin: 18px 180px;
}

#btn-1 {
    height: 40px;
    width: 135px;
    font-size: 20px;
    background: rgb(28, 97, 224);
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
}

#btn-2 {
    height: 40px;
    width: 135px;
    font-size: 20px;
    background: rgb(235, 174, 21);
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
}